h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/* Ejercocio 1 */
.container_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 150px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ejercicio 2 */
.container_2 {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ejercicio 3 */
.menu{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

/* Ejercicio 4 */

.container_3 {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item_3{
    order: -1;
}

/* Ejercicio 5 */

.container_4 {
    display: flex;
    padding: 10px;
}

.sidebar {
    width: 30%;
    background-color:aqua;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contenido {
    width: 70%;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Ejercicio 6 */
.container_5{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.columna{
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    margin-bottom: 5px
}

/* Ejercicio 7 */

.container_6 {
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ejercicio 8 */ 

.container_7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container_7 img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Ejercicio 9 */
.container_8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ejercicio 10 */
.container_9 {
    display: flex;
    align-items: end;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.columna_1 {
    height: 75px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-right: 20px;
}

.columna_2 {
    height: 50px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-right: 20px;
}

.columna_3 {
    height: 25px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-right: 20px;
}
